# Add files here to ignore them from prettier formatting
/dist
/coverage
/tmp
/.nx/cache
/.nx/workspace-data
pnpm-lock.yaml
/**/dist

/**/.next
*.mdx

apps/website/.source
.github/instructions/nx.instructions.md
