name: Publish Package

on:
  push:
    tags:
      - 'v*'
      - '*.*.*'
      - '*.*.*-*'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    # prevents this action from running on forks
    if: github.repository == 'gperdomor/nx-tools'
    name: Publish to npm
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          filter: tree:0
          fetch-depth: 0 # include tags

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        shell: bash

      - name: Print Environment Info
        run: pnpm exec nx report
        shell: bash

      - name: Building packages
        run: pnpm exec nx run-many --target=build
        shell: bash

      - name: Determine npm tag
        id: npm-tag
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          if [[ "$TAG_NAME" =~ -(alpha|beta|rc|next|canary) ]]; then
            echo "tag=next" >> $GITHUB_OUTPUT
            echo "Pre-release detected. Using 'next' tag."
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
            echo "Stable release detected. Using 'latest' tag."
          fi
        shell: bash

      - name: Publish packages
        run: pnpm exec nx release publish --access=public --tag=${{ steps.npm-tag.outputs.tag }}
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
